version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5002:5000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    ports:
      - "3001:5173"
    depends_on:
      - backend
