.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.form button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #111;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  transform: scale(1.05);
  background: #000;
}
